#nickname{
    color: #fff;
    position: relative;
    z-index: 3;
    &:before, &:after {
        content:'FOXELLO';
        color:transparent;
        position: absolute;
        overflow: hidden;
        padding: 0 10%;
        z-index: -1;
     }
     &:before {
        color: #FF0054;
        left:-4%;
        //text-shadow: -3px 0#FF0054;
        animation: glitch-before 4s linear 0s infinite alternate;
        -webkit-animation: glitch-before 4s linear 0s infinite alternate;
        -moz-animation: glitch-before 4s linear 0s infinite alternate;
     }
     &:after {
        color: #08FDD8 ;
        left:-1%;
        //text-shadow: -3px 0 #08FDD8;
        animation: glitch-after 4s linear 0s infinite alternate;
        -webkit-animation: glitch-after 4s linear 0s infinite alternate;
        -moz-animation: glitch-after 4s linear 0s infinite alternate;
     }
}

@keyframes glitch-before {
   $steps: 20;
   @for $i from 0 through $steps {
      #{percentage($i*(1/$steps))} {
         clip: rect(random(150)+px, 350px, random(150)+px, 30px)
      }
   }
}

@keyframes glitch-after {
   $steps: 20;
   @for $i from 0 through $steps {
      #{percentage($i*(1/$steps))} {
         clip: rect(random(150)+px, 350px, random(150)+px, 30px)
      }
   }
}

@-webkit-keyframes glitch-before {
    $steps: 20;
    @for $i from 0 through $steps {
       #{percentage($i*(1/$steps))} {
          clip: rect(random(150)+px, 350px, random(150)+px, 30px)
       }
    }
 }
 
@-webkit-keyframes glitch-after {
    $steps: 20;
    @for $i from 0 through $steps {
       #{percentage($i*(1/$steps))} {
          clip: rect(random(150)+px, 350px, random(150)+px, 30px)
       }
    }
 }

@-moz-keyframes glitch-before {
   $steps: 20;
   @for $i from 0 through $steps {
      #{percentage($i*(1/$steps))} {
         clip: rect(random(150)+px, 350px, random(150)+px, 30px)
      }
   }
}

@-moz-keyframes glitch-after {
   $steps: 20;
   @for $i from 0 through $steps {
      #{percentage($i*(1/$steps))} {
         clip: rect(random(150)+px, 350px, random(150)+px, 30px)
      }
   }
}